@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&display=swap');

:root {
  --gray: rgb(128, 128, 128);
  --red: rgb(255, 0, 0);
  --white: rgb(255, 255, 255);
  --blue: rgb(0, 0, 255);
  --whiteOpacity: rgba(255, 255, 255, 0.9);
  --gradient: linear-gradient(
    180deg,
    hsl(240deg 1% 56%) 0%,
    hsl(240deg 1% 61%) 11%,
    hsl(240deg 1% 65%) 23%,
    hsl(240deg 1% 69%) 34%,
    hsl(240deg 1% 74%) 45%,
    hsl(240deg 1% 79%) 57%,
    hsl(240deg 1% 83%) 68%,
    hsl(240deg 1% 88%) 79%,
    hsl(240deg 1% 93%) 90%,
    hsl(0deg 0% 97%) 100%
  );
  --redCurvedBorder: 2px solid var(--red);
  --borderRadiusFrame: 50px;
  --borderRadiusButton: 40px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: var(--gradient);
  font-family: 'Lato', sans-serif;
}

.main {
  padding: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  border: var(--redCurvedBorder);
  border-radius: var(--borderRadiusFrame);
  position: relative;
}

.container__text {
  text-align: center;
}

.container {
  font-size: 1.4rem;
  padding: 0.6rem;
}

.logo__heading {
  color: var(--red);
  font-size: 5rem;
  font-family: 'Pacifico', cursive;
}

.logo__subheading {
  color: var(--red);
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  font-size: 1.2rem;
  display: inline-block;
  transform: translateY(-25px);
}

.courierImg {
  height: 350px;
}

.button {
  font-size: 1.2rem;
  color: var(--white);
  background-color: var(--red);
  padding: 1rem;
  margin: 1.8rem auto;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: var(--borderRadiusButton);
  transition: all 0.3s ease;
}

.button:hover,
.button:focus {
  background-color: var(--white);
  color: var(--red);
  border: var(--redCurvedBorder);
}

.button:focus-visible {
  outline: 4px solid var(--blue);
  outline-offset: 4px;
}

.button:disabled {
  background-color: var(--gray);
  color: var(--white);
  border-color: var(--white);
}

.button__white {
  background-color: var(--white);
  color: var(--red);
  border-color: var(--red);
}

.button__white:hover,
.button__white:focus {
  color: var(--white);
  border-color: var(--red);
  background-color: var(--red);
}

.button__white:focus-visible {
  outline: 4px solid var(--blue);
  outline-offset: 4px;
}

.form__parcel {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.form__parcel input {
  padding: 1rem;
  border-radius: 40px;
  font-size: 1.2rem;
}

.form__parcel input:invalid {
  border-color: var(--red);
}

.form__parcel label {
  text-align: left;
  padding-left: 1rem;
}

.form__parcel .parcel__inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.form__parcel .parcel__enterNumber {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto 1rem;
}

.modal {
  height: 100vh;
  width: 100%;
  background-color: var(--whiteOpacity);
  z-index: 999;
  position: absolute;
  top: 0;
  margin: auto;
  left: 0;
  border-radius: 50px;
}

.modal h2 {
  font-size: 4rem;
  text-align: center;
  margin: 1rem;
  font-family: 'Pacifico', cursive;
  color: var(--red);
}

.modal p {
  font-size: 1.8rem;
  text-align: center;
}

.modal__center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.d-none {
  display: none;
}

.parcelImg {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.parcelImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.finalDecision {
  width: 86%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.timeInfo {
  color: var(--red);
  font-family: 'Pacifico', cursive;
}

.progress {
  width: 100%;
  height: 4px;
  background-color: #efd0d0;
}

.progress::webkit-progress-value {
  background-color: var(--red);
  transition: width 1s ease;
}

::-moz-progress-bar {
  background-color: var(--red);
}

@media screen and (min-width: 800px) {
  .main {
    padding: 2rem;
  }

  .container {
    font-size: 1.625rem;
    min-height: auto;
  }

  .button {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    flex-direction: row;
    justify-content: center;
    height: calc(100vh - 4rem);
  }

  .courierImg {
    height: 100%;
  }

  .modal {
    height: 600px;
    width: 70%;
    left: 15%;
    top: 0;
    bottom: 0;
  }
}
